@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
body{
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeSxxrDMn-f4xvKgIqJ0qh6SPrrcdTCBDkIw&usqp=CAU);
  background-repeat: no-repeat;
  background-attachment: fixed ;
  background-size: cover;
}
.temp{
  background-color:transparent;
  width: 500px;
  height:400px;
  text-align: center;
  padding: 20px;
  position: relative;
  top: 135px;
  left: 520px;
  isolation: isolate;
}
.temp::after{
  content:'';
  position:absolute;
  z-index:-1;
  inset:0;
  background:rgb(243, 240, 240);
  opacity:.48;
  border-radius: 20px;
}
h1{
  size:30px;
  font-family:'Times New Roman', 'Arial Narrow', Arial, sans-serif;
  color:rgb(18, 17, 17);
}
.styled {
  position: absolute;
  top: 320px;
  left:85px;
  width: 150px;
  border: 0;
  line-height: 2.1;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(69, 236, 245);
  background-image: linear-gradient(to top left, rgba(153, 146, 146, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow:
  inset 2px 2px 3px rgba(255, 255, 255, 0.6),
  inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: rgb(239, 84, 162);
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.re{
  left:270px;
  position: absolute;
  top:320px;
  width:150px;
  border: 0;
  line-height: 2.1;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow:
  inset 2px 2px 3px rgba(255, 255, 255, 0.6),
  inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
.re:hover{
  background-color: rgba(255, 0, 0, 1);
}
.re:active{
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.pos{
  padding-left: 0px;
  text-align: left;
  margin-left: 80px;
}
#data{
  border-radius: 5px;
  background-color:whitesmoke;
  color:rgb(244, 74, 202);
  font-size: 18px;
  font-weight: bold;
}
#far{
  border-radius: 5px;
  background-color:whitesmoke;
  color:rgb(30, 0, 255);
  font-size: 18px;
  font-weight: bold;
}
#kel{
  border-radius: 5px;
  background-color:whitesmoke;
  color:rgb(53, 239, 124);
  font-size: 18px;
  font-weight: bold;
}
h2{
  font-family: Robot;
  color:white;
  font-weight: 500;
}